* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

:root {
  --paragraph: hsl(220, 15%, 55%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
  --hover: hsla(217, 95%, 56%, 1);

  /* gradient */
  --card-1: #FFFFFF;
  --card-2: rgba(255, 255, 255, 0.75) 100%;


  --bg-1: #D5E1EF;
  --bg-2: #A3C8F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --paragraph: hsla(288, 71%, 85%, 1);


    --bg-1: #121423;
    --bg-2: #1F103F;

    --card-1: #895FEE;
    --card-2: rgba(109, 60, 227, 0.87) 100%;

    --hover: hsla(238, 34%, 31%, 1);
  }
}

/* Main CSS */
p {
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #D5E1EF 0%, #A3C8F2 100%);
}

.container {
  flex-wrap: wrap;
  max-width: 320px;
  background: var(--white);
  padding: 16px;
  margin: 24px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
}

.card {
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  transform: scale(1);
  background: var(--hover);
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
  transition: ease-in-out 0.5s;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--dark-blue);
  display: block;
  margin: 0 auto;
  padding-top: 36px;
  transition: ease-in-out 0.5s;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  color: var(--paragraph);
  padding: 24px 0px 36px 0px;
  margin: 0 24px;
}

@media (max-width: 275px) {
  h1 {
    font-size: 1.4rem;
    padding-top: 24px;
  }

  p {
    font-size: 0.85rem;
    padding-bottom: 16px;
    margin: 0;
  }

  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

@media (hover:hover) {
  .container:hover {
    transform: scale(1.02);
    filter: saturate(1.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 46, 87, 0.118);
  }

  h1:hover {
    color: var(--hover);
    transition: ease-in-out 0.5s;
  }

  img:hover {
    transform: rotate(90deg) scale(125%);
    transition: ease-in-out 0.5s;
  }
}