/* Colors */

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

.white {
  color: var(--white);
}

.light-gray {
  color: var(--light-gray);
}

.grayish-blue {
  color: var(--grayish-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

/* Main CSS */
.font-p {
  font-size: 1rem;
  font-weight: 400;
}

.font-h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light-gray);
}

.container {
  flex-wrap: wrap;
  max-width: 320px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.03);
}

.qr-box {
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  transform: scale(1);
  background-color: #2C7DFA;
}

.qr-box img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
  transition: ease-in-out 0.5s;
}

.qr-box img:hover {
  transform: rotate(90deg) scale(125%);
  transition: ease-in-out 0.5s;
}

.container h1 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--dark-blue);
  display: block;
  margin: 0 auto;
  padding-top: 36px;
  transition: ease-in-out 0.5s;
}

.container h1:hover {
  color: #2C7DFA;
  transition: ease-in-out 0.5s;
}

.container p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  color: var(--grayish-blue);
  padding: 24px 0px 36px 0px;
  margin: 0 20px;
}

@media (max-width: 275px) {
  .container h1 {
    font-size: 1.4rem;
    padding-top: 24px;
  }

  .container p {
    font-size: 0.85rem;
    padding-bottom: 16px;
    margin: 0;
  }

  .qr-box img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}