* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

:root {
  --p-x: var(--p-light);
  --h1-x: var(var(--h1-light));
  --card-x: var(--card-light);
  --bg-x: var(--bg-light);
  --hover-x: var(--hover-light);

  /* light mode */
  --p-light: hsl(220, 15%, 55%);
  --h1-light: hsl(218, 44%, 22%);
  --hover-light: hsla(217, 95%, 56%, 1);
  --bg-light: hsla(212, 45%, 89%, 1);
  --bg-1-light: #D5E1EF;
  --bg-2-light: #A3C8F2;
  --card-light: rgb(255, 255, 255);
  --card-1-light: hsla(0, 0%, 100%, 1);
  --card-2-light: hsla(0, 0%, 100%, 0.6);

  /* dark mode */
  --p-dark: hsla(288, 71%, 85%, 1);
  --h1-dark: hsla(302, 77%, 98%, 1);
  --hover-dark: hsla(173, 100%, 72%, 1);
  --bg-dark: var(hsla(240, 23%, 12%, 1));
  --bg-1-dark: hsla(233, 32%, 10%, 1);
  --bg-2-dark: hsla(259, 60%, 15%, 1);
  --card-dark: hsla(258, 81%, 65%, 1);
  --card-1-dark: hsla(258, 81%, 65%, 1);
  --card-2-dark: hsla(258, 75%, 56%, 0.9);

}

#icon {
  max-width: 24px;
  max-height: 24px;
}


/* Main CSS */
p {
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-x);
  /* background: linear-gradient(180deg, var(--bg-1-light) 0%, var(--bg-2-light) 100%); */
}

.container {
  flex-wrap: wrap;
  max-width: 320px;
  padding: 16px;
  margin: 24px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
  background: var(--card-x);
  /* background: linear-gradient(180deg, var(--card-1-light) 0%, var(--card-2-light) 100%); */
}

.card {
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  transform: scale(1);
  background: var(--hover-x);
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
  transition: ease-in-out 0.5s;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--h1-x);
  display: block;
  margin: 0 auto;
  padding-top: 36px;
  transition: ease-in-out 0.5s;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  color: var(--p-x);
  padding: 24px 0px 36px 0px;
  margin: 0 24px;
}

@media (max-width: 275px) {
  h1 {
    font-size: 1.4rem;
    padding-top: 24px;
  }

  p {
    font-size: 0.85rem;
    padding-bottom: 16px;
    margin: 0;
  }

  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

@media (hover:hover) {
  .container:hover {
    transform: scale(1.02);
    filter: saturate(1.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 46, 87, 0.118);
  }

  h1:hover {
    color: var(--hover);
    transition: ease-in-out 0.5s;
  }

  img:hover {
    transform: rotate(90deg) scale(125%);
    transition: ease-in-out 0.5s;
  }
}